*{
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  text-align: center;
}

#hero {
  width: 592px;
  margin: 0 auto 72px;
}

#img1 {
  width: 348px;
  margin: 0 auto 80px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  margin-bottom: 32px;
}

h1 span {
  font-weight: bold;
}

span, a {
  color: #ff9900;
}

p, #footer {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
}

#footer a + a {
    margin-left: 28px;
}

.line {
    width: 568px;
    height: 0;
    margin: 0 auto 8px;
    border: 1px solid #ECEFF2;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}